div.IA_banner span.IA_banner a.IA_banner {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
}
.IA_banner_wrapper {
  position:absolute;
  left:50%;
  margin-left:-150px;
  top:0px;
  width:300px;
  text-align:center;
  z-index:2147483647;
  padding:0px
}
.IA_banner_content {
  position:relative;
  width:300px;
  background-color:#FFFFE0;
  margin:10px auto;
  border: solid 1px #000;
  padding:15px;
  padding-top:26px;
  text-align:center;
  font: 15px arial,sans-serif;
}
.IA_banner_header {
  position:absolute;
  top:0px;
  left:19px;
  background-color:#000;
  color:#FFF;
  height:19px;
  line-height:19px;
  padding: 0 4px 0 4px;
  width:304px;
  text-align:left;
  font-size:14px;
  font-family: arial, sans-serif;
}
.IA_banner_logo {
  position:absolute;
  top:0px;
  left:0px;
}
.IA_banner_close {
  position:absolute;
  top:0px;
  right:0px;
}
.IA_banner_close:hover {
  cursor:pointer;
}
.IA_banner_close {
  cursor:default;
}
.IA_banner_hidden {
  visibility:hidden;
}